@import "../../styles/colors.styl"

.header
  background $primary
  height 60px
  border-bottom 3px solid $tertiary
  text-align center

  &__link
    text-decoration none

  &__title
    margin 0
    padding 0
    color $secondary
    font-size 2.6rem
    line-height 60px

