@import "../../styles/colors.styl"
@import "../../styles/variables.styl"

.header
  background $color-secondary
  height $header-height
  margin $header-height * -1
  border-bottom 2px solid lighten($color-primary, 85%)
  text-align center
  position fixed
  top 0
  left 0
  right 0
  z-index 100
  transition margin-top $animation-time

  img
    height 50px
    width auto
    transition height $animation-time
    margin 10px 0 0

  &--scrolled
    margin-top 0
    -webkit-backface-visibility hidden

  &__link
    text-decoration none
    display inline
    height $header-height

  &__title
    margin 0
    height $header-height
    padding ($header-height - 3 - 70) * 0.5
    color $color-secondary
    font-size 2.6rem
    display inline

  &--hidden
    visibility hidden
    position absolute
    font-size 2px
