.table {
  border-collapse: collapse;
  width: 100%;

  th,
  td {
    text-align: center;
    padding: 0.5rem 1rem;
    border: 1px solid var(--gray-dark-border);
  }

  thead {
    background-color: var(--gray-border);
  }

  tbody > tr:hover {
    background-color: var(--gray-border);
  }
}
