@import "../../styles/globals.styl"
@import "../../styles/variables.styl"
@import "../../styles/colors.styl"

.container
  border-radius $global-radius
  padding $global-padding 0

  &__title
    padding $global-margin 0 $global-padding
    border-bottom 2px solid lighten($color-primary, 85%)
    text-align center
    line-height 30px
    color lighten($color-primary, 35%)
    font-size 20px

  &__favicon
    height 26px
    vertical-align text-bottom
    margin-right 10px

  &__link
    color $color-tertiary
    text-decoration none
    transition color $animation-time
    &:hover
      color lighten($color-tertiary, 5%)

  .wrapper
    border-radius 2px
    text-align center

    &__description
      padding $global-padding * 0.5 0
      margin $global-padding 0 $global-margin
      font-size 1.2em
