@import "../../styles/globals.styl"
@import "../../styles/variables.styl"
@import "../../styles/colors.styl"

.container
  background $color-primary
  border-radius 5px
  padding $global-padding

  &__title
    margin 0 0 10px
    padding 0
    text-align center
    color $color-tertiary

  .wrapper
    background $color-secondary
    padding $global-padding
    border-radius 5px
    text-align center

    &__description
      padding 0 0 $global-padding
