@import "../../styles/globals.styl"
@import "../../styles/variables.styl"
@import "../../styles/colors.styl"

.container
  background $color-primary
  border-radius 5px
  padding $global-padding
  border-bottom 3px solid $color-tertiary

  &__title
    margin 0 0 10px
    padding 0
    text-align center
    height 30px
    line-height 30px
    color $color-tertiary

  .wrapper
    background $color-secondary
    padding $global-padding
    border-radius 2px
    text-align center

    &__description
      padding $global-padding * 0.5 0
      margin $global-padding 0 $global-margin
      font-size 1.2em
