@import "../../../styles/globals.styl"
@import "../../../styles/variables.styl"
@import "../../../styles/colors.styl"

.container
  padding 0

  .nav
    text-align left
    margin-top $global-margin * 1.5

    .back
      font-weight bold
      display inline-block
      padding $global-padding * 0.75
      background $color-secondary
      color $color-tertiary
      border 3px solid $color-tertiary
      border-radius $global-radius
      text-decoration none
      transition background $animation-time

      @media screen and (min-width: 768px)
        padding $global-padding ($global-padding * 2)

      &:hover
        background $color-tertiary
        color $color-secondary

      &:active
        background $color-secondary
        color $color-tertiary
        transition background 0s

      i
        font-size 20px
        margin-right 10px
        vertical-align top

      a
        font-family $font-header
        font-size 20px

        i
          font-size 20px
          margin-right 10px
          vertical-align top

  .form
    border-left 3px solid lighten($color-primary, 60%)
    padding $global-margin
    margin $global-margin 0
    text-align left
    transition border-bottom $animation-time, border-left $animation-time
    position relative
    background $color-secondary
    box-shadow 1px 1px 6px 1px lighten($color-primary, 80%)
    border-radius $global-radius

    height 464px
    @media screen and (min-width: 768px)
      height 380px

    &--invisible
      display none

    .fieldset
      position relative

      &__input, &__textarea
        width 100%
        display block
        margin 0 0 $global-margin
        transition border $animation-time, box-shadow $animation-time

        &--invalid
          border 1px solid $color-alert
          box-shadow 0 0 1px 0 $color-alert

          &:focus
            border 1px solid $color-alert

      &__textarea
        height 132px
        resize none

      &__label
        color $color-alert
        position absolute
        left 2px
        bottom 4px
        font-size 11px
        visibility hidden
        opacity 0
        transition opacity $animation-time, visibility $animation-time

        &--visible
          opacity 1
          visibility visible

    &__captcha
      @media screen and (min-width: 350px)
        float right

      @media screen and (min-width: 768px)
        float left
        width 50%

      & > div > div
        max-width 100% !important

      iframe
        max-width 100% !important

    .buttons
      @media screen and (min-width: 350px)
        clear both
      @media screen and (min-width: 768px)
        clear none
        position relative
        width 50%
        float right
        height 78px

      button
        margin-top $global-margin
        @media screen and (min-width: 768px)
          position absolute
          bottom 0
          right 0

  .sent
    display none
    border-left 4px solid lighten($color-primary, 60%)
    padding $global-margin
    margin $global-margin * 1.5 0 $global-margin
    text-align center
    transition border-bottom $animation-time, border-left $animation-time
    position relative
    background $color-secondary
    box-shadow 1px 1px 6px 1px lighten($color-primary, 80%)
    border-radius $global-radius
    width 100%
    height 464px
    @media screen and (min-width: 768px)
      height 380px

    &__wrapper
      display table-cell
      vertical-align middle

    &__text
      font-family $font-header
      font-size 1.6em
      font-weight bold
      margin-bottom $global-margin

    &--visible
      display table
