{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "project": "tsconfig.json"
  },
  "ignorePatterns": "next.config.js",
  "plugins": ["functional", "@typescript-eslint", "jsx-a11y", "css-modules"],
  "extends": [
    "prettier",
    "plugin:import/errors",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "react-app",
    "plugin:jsx-a11y/recommended",
    "plugin:css-modules/recommended"
  ],
  "rules": {
    "no-const-assign": "error",
    "no-param-reassign": "error",
    "prefer-const": "error",
    "no-var": "error",
    "require-await": "error",
    "react-hooks/exhaustive-deps": ["error"],
    "react/display-name": "error",
    "jsx-a11y/anchor-is-valid": "off",
    "import/no-anonymous-default-export": "error",
    "import/no-default-export": "error",
    "import/dynamic-import-chunkname": "error",
    "import/order": ["error", { "newlines-between": "always", "alphabetize": { "order": "asc" } }],
    "import/no-duplicates": "error",
    "import/no-cycle": "error",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.tsx",
          "**/*.spec.tsx",
          "**/*.test.ts",
          "**/*.spec.ts",
          "**/cypress/**/*.*",
          "**/jest-setup.ts",
          "**/jest-utils.ts",
          "**/next-env.d.ts",
          "**/global.d.ts"
        ]
      }
    ],
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/consistent-type-imports": "error",
    "functional/no-let": [
      "error",
      {
        "allowLocalMutation": true,
        "ignorePattern": "^mutable"
      }
    ],
    "functional/prefer-readonly-type": "error",
    "functional/no-this-expression": "error",
    "functional/no-loop-statement": "error"
  },
  "overrides": [
    {
      "files": ["**/*.test.tsx", "**/*.spec.tsx", "**/*.test.ts", "**/*.spec.ts"],
      "rules": {
        "@typescript-eslint/no-unsafe-assignment": "off",
        "@typescript-eslint/restrict-plus-operands": "off"
      }
    },
    {
      "files": ["pages/**/*.tsx", "pages/**/*.ts"],
      "rules": {
        "import/no-default-export": "off"
      }
    }
  ]
}
