{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "project": "tsconfig.json"
  },
  "ignorePatterns": "next.config.js",
  "plugins": ["jsx-a11y", "css-modules"],
  "extends": [
    "plugin:@typeofweb/recommended",
    "next/core-web-vitals",
    "plugin:jsx-a11y/recommended",
    "plugin:css-modules/recommended"
  ],
  "rules": {
    "react-hooks/exhaustive-deps": ["error"],
    "react/display-name": "error",
    "react/jsx-curly-brace-presence": ["error", "never"],
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/no-onchange": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.tsx",
          "**/*.spec.tsx",
          "**/*.test.ts",
          "**/*.spec.ts",
          "**/cypress/**/*.*",
          "**/jest-setup.ts",
          "**/jest-utils.ts",
          "**/next-env.d.ts",
          "**/global.d.ts",
          "jest-setup-after.ts"
        ]
      }
    ]
  },
  "overrides": [
    {
      "files": ["**/*.test.tsx", "**/*.spec.tsx", "**/*.test.ts", "**/*.spec.ts"],
      "rules": {
        "@typescript-eslint/no-unsafe-assignment": "off",
        "@typescript-eslint/restrict-plus-operands": "off"
      }
    },
    {
      "files": [
        "app/**/page.tsx",
        "app/**/layout.tsx",
        "app/**/loading.tsx",
        "app/**/head.tsx",
        "app/**/template.tsx",
        "pages/api/**/*.ts"
      ],
      "rules": {
        "import/no-default-export": "off"
      }
    }
  ]
}
