:root {
  --brand-color-main: #5ab783;
  --brand-color-lighter: #{lighten(#5ab783, 20%)};
  --gray-border: #f2f2f2;
  --black: #000;
  --white: #fff;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

[class^='icon-'],
[class*=' icon-'] {
  white-space: nowrap;
}

a {
  color: var(--brand-color-main);
  text-decoration: none;

  &:hover {
    color: var(--brand-color-lighter);
  }
  &:focus {
    outline: 1px dashed var(--brand-color-main);
  }
  @supports selector(a:focus-within) {
    &:focus {
      outline: none;
    }
    &:focus-within {
      outline: 1px dashed var(--brand-color-main);
    }
  }
}
