@import "../../styles/globals.styl"
@import "../../styles/variables.styl"
@import "../../styles/colors.styl"

.container
  width 100%
  margin 0 auto
  padding $global-padding
  margin-top $header-height + $global-margin

  @media screen and (min-width: 768px)
    width 750px

  @media screen and (min-width: 992px)
    width 970px

  @media screen and (min-width: 1200px)
    width 1170px

  &__wrapper
    width calc(100% - 20px)
    float left
    margin 10px
    box-sizing border-box

    @media screen and (min-width: 768px)
      width calc(50% - 20px)

    @media screen and (min-width: 992px)
      width calc(33.3% - 20px)

  &__blog
    padding $global-padding
    background $color-primary
    border-bottom 3px solid $color-tertiary
    border-radius 5px

  .title
    margin 0 0 10px
    padding 0
    text-align center

    &__link
      color $color-tertiary
      text-decoration none
      transition color 0.4s
      &:hover
        color lighten($color-tertiary, 20%)

  .items
    background $color-secondary
    padding 5px
    border-radius 2px
    min-height 157px

    &__link
      display block
      margin 7px 0
      text-decoration none
      font-size 20px
      color $color-primary
      transition color 0.4s
      &:hover
        color lighten($color-primary, 50%)


