@import "../../styles/globals.styl"
@import "../../styles/variables.styl"
@import "../../styles/colors.styl"

.container
  margin-top $header-height
  .pusher
    height $header-height
    width 100%
    background $color-tertiary
    position absolute
    top 0
    z-index 1
