@import "../../../styles/globals.styl"
@import "../../../styles/variables.styl"
@import "../../../styles/colors.styl"

.form
  text-align right

  &__input
    width 100%
    display block
    margin 0 0 $global-margin
