@import "../../../styles/globals.styl"
@import "../../../styles/variables.styl"
@import "../../../styles/colors.styl"

.container
  width 100%
  margin 0 auto

  @media screen and (min-width: 768px)
    width 750px

  @media screen and (min-width: 992px)
    width 970px

  @media screen and (min-width: 1200px)
    width 1170px

  .back
    color $color-secondary
    background $color-primary
    border-radius 5px
    padding 10px 20px
    transition background $animation-time
    text-decoration none
    margin 0 0 $global-margin
    display inline-block

    a
      font-family $font-header
      font-size 20px

    i
      font-size 20px
      margin-right 10px
      vertical-align top

  .form
    text-align right

    textarea
      height 150px
      resize none

    &__input
      width 100%
      display block
      margin 0 0 $global-margin
      transition border $animation-time, box-shadow $animation-time

      &--invalid
        border 1px solid $color-alert
        box-shadow 0 0 1px 0 $color-alert

        &:focus
          border 1px solid $color-alert
