@import "../../../styles/globals.styl"
@import "../../../styles/variables.styl"
@import "../../../styles/colors.styl"

.container
  margin-top $global-margin * 2

  .list
    text-align left
    list-style none

    .item
      padding $global-padding 0
      border-bottom 1px solid lighten($color-primary, 75%)
      font-size 1.2em
      position relative

      &:last-child
        border-bottom none

      &__title
        padding $global-padding 0 0

      &__url
        padding $global-padding 0 0

        a
          color $color-tertiary
          font-weight bold

    .buttons
      position absolute
      top 0
      right 0

      @media screen and (min-width: 768px)
        top auto
        bottom 0
        right 0

      &__item
        background $color-primary
        color $color-secondary
        padding 10px
        border-radius 5px
        margin-left $global-padding
        margin-top $global-padding
        width 40px
        height 40px
        display inline-block
        font-size 22px
        line-height 22px
        text-align center
        transition background $animation-time

        @media screen and (min-width: 768px)
          margin-bottom $global-padding

        &:hover
          background lighten($color-primary, 20%)

        i
          vertical-align baseline

        &--special
          background $color-alert

          &:hover
            background lighten($color-alert, 20%)

        &--refresh
          background $color-info

          &:hover
            background lighten($color-info, 20%)

        &--disabled
          background lighten($color-primary, 50%)
          pointer-events none
          cursor default

          &:hover
            background lighten($color-primary, 50%)
