.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  border-radius: 4px;
  border: 3px solid var(--brand-color-main);
  color: var(--brand-color-main);
  background-color: var(--white);
  transition: background 200ms;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: var(--brand-color-main);
  }

  @media screen and (min-width: 45em) {
    padding: 1rem 2rem;
  }
}

.icon {
  margin-right: 0.5rem;
}
