{
  "root": false,
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "extends": ["react-app", "plugin:jsx-a11y/recommended", "plugin:css-modules/recommended"],
  "env": {
    "es6": true,
    "browser": true,
    "jest": true,
    "node": true
  },
  "plugins": ["jsx-a11y", "css-modules"],
  "rules": {
    "react-hooks/exhaustive-deps": ["error"],
    "jsx-a11y/anchor-is-valid": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "import/no-default-export": "error",
    "react/display-name": "error",
    "import/no-restricted-paths": [
      "error",
      {
        "zones": [
          { "target": "./components", "from": "./pages" },
          { "target": "./components/klient", "from": "./components/admin" },
          { "target": "./components/admin", "from": "./components/klient" },
          { "target": "./pages/admin", "from": "./components/klient" }
        ]
      }
    ]
  },
  "overrides": [
    {
      "files": "pages/**/*.tsx",
      "rules": {
        "import/no-default-export": "off"
      }
    }
  ]
}
