@import "../../styles/globals.styl"
@import "../../styles/variables.styl"
@import "../../styles/colors.styl"

.container
  width 100%
  margin $global-margin * 2 auto 0
  padding 0 $global-padding $global-margin

  @media screen and (min-width: 768px)
    width 750px

  @media screen and (min-width: 992px)
    width 970px

  @media screen and (min-width: 1200px)
    width 1170px

  .responsive
    width 100%

  .text
    text-align left
    padding $global-padding * 0.5
    line-height 1.6em
    font-size 1.2em

    @media screen and (min-width: 768px)
      padding $global-padding

.back
  color $color-secondary
  background $color-primary
  border-radius $global-radius
  padding 10px 20px
  transition background $animation-time
  text-decoration none
  margin-bottom $global-margin
  display inline-block

  &:hover
    background lighten($color-primary, 25%)

  a
    font-family $font-header
    font-size 20px

  i
    font-size 20px
    margin-right 10px
    vertical-align top
