@import "../../../styles/globals.styl"
@import "../../../styles/variables.styl"
@import "../../../styles/colors.styl"

.container
  padding $global-padding

  .form
    text-align right

    &__input
      width 100%
      display block
      margin 0 0 $global-margin

      &--invalid
        border 1px solid $color-alert

        &:focus
          border 1px solid $color-alert

    &__captcha
      @media screen and (min-width: 350px)
        float right

      @media screen and (min-width: 768px)
        float left
        width 50%

      & > div > div
        max-width 100% !important

      iframe
        max-width 100% !important

    .buttons
      @media screen and (min-width: 350px)
        clear both
      @media screen and (min-width: 768px)
        clear none
        position relative
        width 50%
        float right
        height 78px

      button
        margin-top $global-margin
        @media screen and (min-width: 768px)
          position absolute
          bottom 0
          right 0
