@import "../../../styles/globals.styl"
@import "../../../styles/variables.styl"
@import "../../../styles/colors.styl"

.back
  color $color-secondary
  background $color-primary
  border-radius 5px
  padding 10px 20px
  transition background $animation-time
  text-decoration none
  margin $global-padding
  display inline-block

  &:hover
    background lighten($color-primary, 25%)

  a
    font-family $font-header
    font-size 20px

  i
    font-size 20px
    margin-right 10px
    vertical-align top

.container
  padding $global-padding

  .item
    border-bottom 1px dotted $color-tertiary
    border-left 6px solid $color-tertiary
    padding-left 10px
    margin 20px 5px
    text-align left
    transition border-bottom $animation-time, border-left $animation-time

    &__new
      background $color-tertiary
      color $color-secondary
      padding 5px $global-padding
      display none
      border-radius 5px
      font-weight normal
      font-size 12px
      vertical-align text-bottom
      margin-right $global-padding
      transition background $animation-time

      &--visible
        display inline-block

      &--clicked
        background $color-tertiary

    &__header
      display inline-block
      max-width 100%
      margin 7px 0
      text-decoration none
      font-size 20px
      line-height 1.3
      font-weight bold
      font-family $font-header
      color $color-primary
      text-transform none

      a
        color $color-primary
        transition color $animation-time

        &:hover
          color lighten($color-primary, 50%)

    .meta
      padding-top $global-margin
      color lighten($color-primary, 50%)
      display inline

      &__date
        font-size 14px

      &__message
        font-size 1.1em
        line-height 1.6em
        color $color-primary
        padding $global-padding 0
        white-space pre-wrap
        word-wrap break-word
        font-family $font-text

  .more
    margin $global-margin * 2 0 $global-margin * 1.5
    font-size 1.2em

    &__link
      margin $global-margin * 1.5 0 0
      display inline-block
      background $color-tertiary
      color $color-secondary
      padding 10px 20px
      border-radius 5px
      transition background $animation-time

      &:hover
        background lighten($color-tertiary, 5%)

      i
        margin-right $global-padding
