@import "../../../styles/globals.styl"
@import "../../../styles/variables.styl"
@import "../../../styles/colors.styl"

.container
  padding 0

  .nav
    text-align left
    margin-top $global-margin * 1.5

    .back
      font-weight bold
      display inline-block
      padding $global-padding * 0.75
      background $color-secondary
      color $color-tertiary
      border 3px solid $color-tertiary
      border-radius $global-radius
      text-decoration none
      transition background $animation-time

      @media screen and (min-width: 768px)
        padding $global-padding ($global-padding * 2)

      &:hover
        background $color-tertiary
        color $color-secondary

      &:active
        background $color-secondary
        color $color-tertiary
        transition background 0s

      i
        font-size 20px
        margin-right 10px
        vertical-align top

      a
        font-family $font-header
        font-size 20px

        i
          font-size 20px
          margin-right 10px
          vertical-align top

  .item
    border-left 4px solid $color-tertiary
    padding $global-margin
    margin $global-margin * 1.5 0 $global-margin
    text-align left
    transition border-bottom $animation-time, border-left $animation-time
    position relative
    background $color-secondary
    box-shadow 1px 1px 6px 1px lighten($color-primary, 80%)
    border-radius $global-radius

    &__new
      background $color-tertiary
      color $color-secondary
      padding 5px $global-padding
      display none
      border-radius 5px
      font-weight normal
      font-size 12px
      vertical-align text-bottom
      margin-right $global-padding
      transition background $animation-time

      &--visible
        display inline-block

      &--clicked
        background $color-tertiary

    &__header
      display inline-block
      max-width 100%
      margin 0 0 $global-padding
      text-decoration none
      font-size 20px
      font-weight bold
      font-family $font-header
      color $color-primary
      transition color $animation-time
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      text-transform none

      a
        color $color-primary
        transition color $animation-time

        &:hover
          color lighten($color-primary, 40%)

    .meta
      padding-top $global-margin
      color lighten($color-primary, 50%)
      display inline

      &__date
        font-size 14px

      &__message
        font-size 1.1em
        line-height 1.6em
        color $color-primary
        padding $global-padding 0 0
        white-space pre-wrap
        font-family $font-text

    .more
      text-align center
      padding $global-margin 0 0
      margin-top $global-margin
      border-top 2px dashed $color-tertiary

      &__header
        text-transform none
        margin 0 0 $global-margin
        font-size 1.4em

      &__link
        font-weight bold
        display inline-block
        padding $global-padding * 0.75
        background $color-secondary
        color $color-tertiary
        border 3px solid $color-tertiary
        border-radius $global-radius
        text-decoration none
        transition background $animation-time

        @media screen and (min-width: 768px)
          padding $global-padding ($global-padding * 2)

        &:hover
          background $color-tertiary
          color $color-secondary

        &:active
          background $color-secondary
          color $color-tertiary
          transition background 0s

        i
          font-size 20px
          margin-right 10px
          vertical-align top

        a
          font-family $font-header
          font-size 20px

          i
            font-size 20px
            margin-right 10px
            vertical-align top
