@import "../../styles/colors.styl"
@import "../../styles/variables.styl"

.footer
  background $color-primary
  color $color-secondary
  border-top 3px solid $color-tertiary
  text-align center
  clear both
  line-height $footer-height - 3px
  margin-top $global-margin

  position absolute
  left 0
  bottom 0
  height $footer-height
  width 100%

  &__link
    color $color-tertiary
    text-decoration none
    transition color 0.4s

    &:hover
      color lighten($color-tertiary, 20%)
