.section {
  max-width: 73rem;
  margin: 0 auto;
}

.heading {
  padding: 2rem 0 1rem;
  border-bottom: 2px solid var(--gray-border);
  text-align: center;
  text-transform: uppercase;
  color: var(--gray-text);
  font-size: 1.25rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  @media screen and (min-width: 45em) {
    padding: 2rem 2rem 1rem 2rem;
  }
}

.article {
  padding: 2rem 1rem;
  margin: 1rem;
  background-color: var(--white);
  border-left: 3px solid var(--gray-dark-border);
  border-radius: 3px;
  box-shadow: 1px 1px 6px 1px var(--gray-shadow);

  @media screen and (min-width: 45em) {
    padding: 2rem;
    margin: 2rem;
  }
}

.publishDate {
  color: var(--gray-text);
  font-size: 0.9em;
  display: block;
  margin-bottom: 1rem;
}

.title {
  margin: 0;
}

.linkWrapper {
  border-top: 2px dashed var(--brand-color-main);
  margin-top: 2em;
  text-align: center;
}

.linkHeader {
  font-size: 1.3em;
  font-weight: 800;
}

.favicon {
  margin-right: 0.5rem;
}
