@import "../../styles/globals.styl"
@import "../../styles/variables.styl"
@import "../../styles/colors.styl"

.container
  padding 0 $global-padding $global-margin
  background transparent

  @media screen and (min-width: 768px)
    padding 0 0 $global-margin

