@import "../../../styles/globals.styl"
@import "../../../styles/variables.styl"
@import "../../../styles/colors.styl"

.clear
  clear both

.container
  padding 0 $global-padding $global-margin
  background transparent

  .item
    border-left 4px solid $color-tertiary
    padding $global-margin
    margin $global-margin * 1.5 0 $global-margin
    text-align left
    transition border-bottom $animation-time, border-left $animation-time
    position relative
    background $color-secondary
    box-shadow 1px 1px 6px 1px lighten($color-primary, 80%)

    &--today
      border-left 4px solid $color-oposite

    &--clicked
      border-left 4px solid $color-tertiary

    &__new
      background $color-oposite
      color $color-secondary
      padding 5px $global-padding
      display none
      border-radius $global-radius
      font-weight normal
      font-size 12px
      vertical-align text-bottom
      margin-right $global-padding
      transition background $animation-time

      &--visible
        display inline-block

      &--clicked
        background $color-tertiary

    .article
      width 100%

      &__header
        display inline-block
        max-width 100%
        margin 0 0 $global-padding
        text-decoration none
        font-size 20px
        font-weight bold
        font-family $font-header
        color $color-primary
        transition color $animation-time
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
        text-transform none

        img
          height 25px
          vertical-align sub
          margin-right 10px

    .buttons
      width 100%
      text-align center

      &__container
        display table
        width 100%
        height 100%

      &__wrapper
        display table-cell
        vertical-align middle

      &__item
        display inline-block
        font-size 1.3em
        font-weight bold
        text-decoration underline
        margin $global-margin $global-padding 0
        text-align center
        transition background $animation-time
        border-radius $global-radius
        color $color-tertiary

        @media screen and (min-width: 768px)
          font-weight bold

        i
          margin-right 10px
          display inline-block
          color $color-tertiary
          text-align center
          transition background $animation-time

      &__text
        display none

        @media screen and (min-width: 768px)
          display inline-block

    .meta
      padding-top $global-margin
      color lighten($color-primary, 50%)
      display inline

      &__date
        font-size 14px
        span
          text-decoration none
          color $color-primary
          font-weight bold
          text-transform uppercase

          &:hover
            text-decoration underline

      &__description
        font-size 1.1em
        line-height 1.3em
        color $color-primary
        padding $global-padding 0 0
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
