@import "../../../styles/globals.styl"
@import "../../../styles/variables.styl"
@import "../../../styles/colors.styl"

.container
  padding 0 $global-padding $global-margin
  background transparent

  &__wrapper
    width 100%
    float left
    box-sizing border-box
    margin $global-margin 0 0

    @media screen and (min-width: 992px)
      width calc(50% - 30px)

      &:nth-child(even)
        margin-right $global-margin

      &:nth-child(odd)
        margin-left $global-margin

  &__blog
    padding 0
    background transparent
    border-radius $global-radius

  .title
    padding 0 0 $global-padding
    text-align center
    border-bottom 2px solid $color-tertiary
    font-size 20px

    &__favicon
      height 26px
      vertical-align text-bottom
      margin-right 10px

    &__link
      color $color-tertiary
      text-decoration none
      transition color $animation-time
      &:hover
        color lighten($color-tertiary, 5%)

  &__clear
    clear both
