@import "../../../styles/globals.styl"
@import "../../../styles/variables.styl"
@import "../../../styles/colors.styl"

.container
  width 100%
  min-height 350px
  position relative
  background-image url('../../../../public/blog-proposal-background.jpg')
  background-size cover
  text-align center
  display table
  padding $global-padding * 1.5

  &__green
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background $color-tertiary
    opacity 0.8

  .wrapper
    position relative
    display table-cell
    vertical-align middle
    text-shadow 1px 1px $color-primary

    &__title
      font-size 1.9em
      font-weight bold
      font-family $font-header
      color $color-secondary
      margin 0 0 32px

      @media screen and (min-width: 375px)
        font-size 2.2em

    &__description
      font-size 1.3em
      color $color-secondary
      margin 0 0 32px

      @media screen and (min-width: 768px)
        font-size 1.4em

    .form
      width 100%
      font-size 1.2em
      &__input
        border-radius 5px 0 0 5px
        width 60%
        max-width 450px
        transition box-shadow 0.2s

        @media screen and (min-width: 768px)
          width 80%

        &--invalid
          border 1px solid $color-primary
          box-shadow 0 0 6px 0 $color-primary

      &__button
        border-radius 0 5px 5px 0

    &__error
      visibility hidden
      opacity 0
      color $color-primary
      position absolute
      width 100%
      text-align center
      font-size 1.2em
      font-family $font-header
      text-shadow none
      padding-top $global-padding
      transition opacity 0.2s, visibility 0.2s

      @media screen and (min-width: 768px)
        font-size 1.3em

      &--invalid
        visibility visible
        opacity 1
