@import "../../../styles/globals.styl"
@import "../../../styles/variables.styl"
@import "../../../styles/colors.styl"

.items
  min-height 1240px // TODO: change it proper value

  .item
    border-left 3px solid lighten($color-primary, 60%)
    padding $global-margin
    margin $global-margin 0 $global-margin
    text-align left
    transition border-bottom $animation-time, border-left $animation-time
    position relative
    background $color-secondary
    box-shadow 1px 1px 6px 1px lighten($color-primary, 80%)
    border-radius $global-radius

    &:first-child
      margin-top $global-margin

    &--today
      border-left 3px solid $color-oposite

    &--clicked
      border-left 3px solid lighten($color-primary, 60%)

    &__new
      background $color-oposite
      color $color-secondary
      display none
      border-radius $global-radius
      font-weight normal
      font-size 12px
      vertical-align text-bottom
      transition background $animation-time
      text-align center

      &--visible
        display block
        margin-bottom $global-margin
        padding $global-padding

        @media screen and (min-width: 768px)
          display inline-block
          margin-right $global-padding
          margin-bottom 0
          padding 5px $global-padding

      &--clicked
        background $color-tertiary

    .article
      width 100%

      &__header
        display inline-block
        max-width 100%
        width 100%
        margin 0 0 $global-padding
        text-decoration none
        font-size 20px
        font-weight bold
        font-family $font-header
        color $color-primary
        transition color $animation-time
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
        text-transform none

        a
          color $color-primary
          transition color $animation-time

    .buttons
      width 100%
      text-align center

      &__container
        display table
        width 100%
        height 100%

      &__wrapper
        display table-cell
        vertical-align middle

      &__item
        display inline-block
        font-size 1.1em
        font-weight bold
        font-family $font-text
        margin $global-margin $global-padding - 5px 0
        text-align center
        transition color $animation-time
        border-radius $global-radius
        color $color-tertiary

        &:hover
          text-decoration underline
          color lighten($color-tertiary, 5%)

          i
            color lighten($color-tertiary, 5%)

        i
          font-size 2em
          margin-right 10px
          display inline-block
          color $color-tertiary
          text-align center
          transition color $animation-time

          @media screen and (min-width 768px)
            font-size 1em

      &__text
        display none
        text-transform uppercase

        @media screen and (min-width: 768px)
          display inline-block

    .meta
      padding-top 0
      color lighten($color-primary, 50%)
      height 103px
      display inline-block
      overflow hidden

      &__date
        font-size 14px

        img
          height 23px
          vertical-align text-bottom
          margin-right 7px

          &:hover
            color lighten($color-primary, 40%)

        a
          text-decoration none
          color $color-primary
          font-weight bold
          text-transform uppercase
          max-width 100px
          overflow hidden

          @media screen and (min-width 768px)
            max-width auto
            overflow auto

          &:hover
            text-decoration underline

      &__description
        font-size 1.1em
        line-height 1.3em
        color $color-primary
        padding $global-padding 0 0
