@import "../../../styles/globals.styl"
@import "../../../styles/variables.styl"
@import "../../../styles/colors.styl"

.container
  width 100%
  min-height 300px
  position relative
  background-image url('../../../../public/lead_background.jpg')
  background-size cover
  background-position center
  text-align center
  display table
  padding $global-padding * 1.5

  &__green
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background $color-tertiary
    opacity 0.8

  .wrapper
    position relative
    display table-cell
    vertical-align middle
    text-shadow 1px 1px $color-primary

    &__title
      font-size 1.9em
      font-weight bold
      font-family $font-header
      color $color-secondary
      margin 0 0 32px

      @media screen and (min-width: 375px)
        font-size 2.8em

    &__description
      font-size 1.3em
      color $color-secondary
      margin 0

      @media screen and (min-width: 768px)
        font-size 1.8em
