@import "../../styles/globals.styl"
@import "../../styles/variables.styl"
@import "../../styles/colors.styl"

.container
  width 100%
  margin 0 auto
  padding $global-padding
  margin-top $header-height + $global-margin
  text-align center

  &__text
    margin-top $global-margin
    font-size 18px
