@import './variables.styl'
@import './colors.styl'

// style for h1 - h6
body
  font-family $font-text
for n in 1..6
  h{n}
    font-family $font-header

input, textarea
  padding 10px 15px
  border-radius 5px
  border 1px solid lighten($color-primary, 70%)
  outline none

  &:active, &:focus
    border 1px solid $color-primary

::-webkit-input-placeholder
  font-weight 200
  color lighten($color-primary, 70%)
::-moz-placeholder
  font-weight 200
  color lighten($color-primary, 70%)
:-ms-input-placeholder
  font-weight 200
  color lighten($color-primary, 70%)
:-moz-placeholder
  font-weight 200
  color lighten($color-primary, 70%)
