@import "./variables.styl"
@import "./colors.styl"

html *
  margin 0
  padding 0
  box-sizing border-box

// style for h1 - h6
body
  margin 0 0 ($footer-height + $global-margin)
  font-family $font-text
  overflow-y scroll
  background $color-main-background
for n in 1..6
  h{n}
    font-family $font-header
    text-transform uppercase

a
  color $color-tertiary
  font-weight bold
  text-decoration none

fieldset
  border none

input, textarea
  padding $global-padding
  border-radius $global-radius
  border 1px solid lighten($color-primary, 70%)
  outline none

  &:active, &:focus
    border 1px solid $color-primary

::-webkit-input-placeholder
  font-weight 200
  color lighten($color-primary, 70%)
::-moz-placeholder
  font-weight 200
  color lighten($color-primary, 70%)
:-ms-input-placeholder
  font-weight 200
  color lighten($color-primary, 70%)
:-moz-placeholder
  font-weight 200
  color lighten($color-primary, 70%)

button
  font-weight bold
  font-family $font-text
  display inline-block
  padding $global-padding $global-margin
  background $color-secondary
  color $color-tertiary
  border 3px solid $color-tertiary
  border-radius $global-radius
  text-decoration none
  transition background $animation-time

  &:hover
    background $color-tertiary
    color $color-secondary

  &:active
    background $color-secondary
    color $color-tertiary
    transition background 0s

  &[disabled]
    border 3px solid lighten($color-primary, 60%)
    color lighten($color-primary, 60%)

    &:hover
      background lighten($color-secondary, 60%)
      color lighten($color-primary, 60%)


