$global-padding = 15px
$global-margin = 30px
$header-height = 70px
$footer-height = 60px

$font-header = 'Cabin', sans-serif
$font-text = 'Titillium Web', sans-serif

$animation-time = 0.2s
$global-radius = 3px
