.section {
  padding: 1.5rem;
  margin: 1rem;
  background-color: var(--white);
  border-left: 3px solid var(--gray-dark-border);
  border-radius: 3px;
  box-shadow: 1px 1px 6px 1px var(--gray-shadow);
  overflow-wrap: break-word;
  line-height: 1.6;

  @media screen and (min-width: 45em) {
    padding: 2rem;
    margin: 2rem;
  }
}

.optionList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.optionListItem {
  &:not(:last-of-type) {
    border-bottom: 2px solid var(--gray-dark-border);
    padding-bottom: 2em;
    margin-bottom: 2em;
  }

  > h3 {
    margin: 0;
  }

  > p {
    margin: 0 0 0.5rem;
  }
}
