@import "../../styles/globals.styl"
@import "../../styles/variables.styl"
@import "../../styles/colors.styl"

.container
  width 100%
  display table
  position relative
  text-align center
  padding $global-margin
  background $color-secondary
  box-shadow 1px 3px 6px 1px lighten($color-primary, 80%)

  .wrapper
    position relative
    display table-cell
    vertical-align middle

    img
      margin-top $global-margin
      max-width 100%
      height auto

    &__title
      font-size 1em
      font-weight bold
      font-family $font-text
      color $color-primary
      margin $global-margin 0 $global-padding
      text-transform none

      @media screen and (min-width: 768px)
        font-size 1.6em

    &__description
      font-size 0.8em
      color lighten($color-primary, 25%)
      margin 0 0 $global-margin

      @media screen and (min-width: 768px)
        font-size 1.2em
