.footer {
  background-color: var(--dark);
  color: var(--light);
  border-top: 3px solid var(--brand-color-main);
  text-align: center;
  display: flex;
  justify-content: center;
}

.footerText {
  margin: 1rem 0.75rem;
}
