@import "../../../styles/globals.styl"
@import "../../../styles/variables.styl"
@import "../../../styles/colors.styl"

.back
  color $color-secondary
  background $color-primary
  border-radius 5px
  padding 10px 20px
  transition background $animation-time
  text-decoration none
  margin $global-padding
  display inline-block

  a
    font-family $font-header
    font-size 20px

  i
    font-size 20px
    margin-right 10px
    vertical-align top

.container
  padding $global-padding
