.section {
  max-width: 73em;
  margin: 0 auto;
}

.heading {
  padding: 2em 0 1em;
  border-bottom: 2px solid var(--gray-border);
  text-align: center;
  text-transform: uppercase;
  color: var(--gray-text);
  font-size: 1.25em;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
}
