@import "../../styles/globals.styl"
@import "../../styles/variables.styl"
@import "../../styles/colors.styl"

.container
  width 100%
  margin 0 auto
  padding $global-padding
  margin-top $header-height + ($global-margin * 2)
