.wrapper {
  padding: 1.5rem;
  margin: 1rem;
  background-color: #ffffff;
  border-left: 3px solid var(--gray-dark-border);
  border-radius: 3px;
  box-shadow: 1px 1px 6px 1px var(--gray-shadow);
  overflow-wrap: break-word;
  line-height: 1.6em;

  @media screen and (min-width: 45em) {
    padding: 2rem;
    margin: 2rem;
  }
}
