@import "../../styles/globals.styl"
@import "../../styles/variables.styl"
@import "../../styles/colors.styl"

.container
  width 100%
  margin $global-margin * 2 auto 0
  padding 0 $global-padding $global-margin

  @media screen and (min-width: 768px)
    width 750px

  @media screen and (min-width: 992px)
    width 970px

  @media screen and (min-width: 1200px)
    width 1170px
